* {
    margin: 10px 
  }
 
 #flexbox
  {
     display: flex;
  }
 
 
  .typing {
     height: 11vh;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .typing-effect {
     width: 45ch;
     animation: typing 2s steps(22), effect .5s step-end infinite alternate;
     white-space: nowrap;
     overflow: hidden;
     border-right: 3px solid;
     font-family: monospace;
     font-size: 2em;
   }
   
   @keyframes typing {
     from {
       width: 0;
     }
   }
       
   @keyframes effect {
     50% {
       border-color: transparent;
     }
   }
   
 
 p {
     color:rgb(255, 255, 255) ;
 }
 
 h1 {
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
 }
 
 h2 {
     color: rgb(255, 255, 255);
 }
 
 
 
 .right {
     width: 50%;
     margin-left: 1px;
     text-align: center;
     margin-right: 30px;
 }
 
 .left {
     width: 50%;
     margin-left: 1px;
     text-align: center;
 }
 
 li {
     list-style: none;  
     margin-top: 3px;
 }
 
 #flexbox a {
     display: block;
     text-decoration: none;
     color: rgb(255, 255, 255);
     border-radius: 5%;
     padding: 7px;
     text-align: center;
 
 }
 
 #flexbox a:hover {
     background-color:rgb(255, 0, 251);
 }
 
 #flexbox {
     display: flex;
     margin-left: 30px;
     margin-top: 50px;
 }
 
 .linkgithub {
     border-color: rgb(255, 255, 255);
     border-style: solid;
     padding: 10px;
     text-decoration: none;
     color: rgb(157, 255, 171);
     margin-left: 50%;
 }
 
 .linkgithub:hover {
     background-color: rgb(255, 255, 255);
     color: rgb(197, 0, 167);
 }
 body {
     background: linear-gradient(-45deg, #80ff00, #fffb00, #ff9d00, #ff0000);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
     height: 100vh;
     }
     
     @keyframes gradient {
     0% {
     background-position: 0% 50%;
     }
     
     50% {
     background-position: 100% 50%;
     }
     
     100% {
     background-position: 0% 50%;
     }}