@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
    --bgc-01: hsl(231, 53%, 34%);
    --bgc-02: hsl(304, 25%, 46%);
    --txt-01: hsl(56, 100%, 50%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul{
    display: flex;
    justify-content: center;
}

header a{
    padding: 5px;
}

.logo{
    width: 30%;
}

.flex-container{
    display: flex;
    justify-content: center;
}

header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "kanit", sans-serif;
    line-height: 1;
}

header {
    background-color: var(--bgc-02);
    padding-bottom: 10px;
}

a:hover {
    background-color:var(--bgc-02);
}

.pagina-tittel{
    font-size: x-large;
    text-align: center;
    padding: 20px;
    color: var(--bgc-01);
    background-color:var(--txt-01);
}

.act{
    font-size: large;
}

a{
    color: var(--txt-01);
    font-family: "kanit", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
   padding: 50px;
}

.grid-card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-card img{
    min-height: 250px;
    object-fit: cover;
}

img{
    display: block;
    width: 100%;
}

header img{
    width: 250px;
}

footer{
    background-color: var(--txt-01);
    padding: 5vw 10vw;
    color: var(--bgc-01);
    display: flex;
    justify-content: center;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li a{
    color: var(--bgc-01);
    font-size: 1rem;
    font-weight: 600;
    font-family: "kanit", sans-serif;
    text-transform: uppercase;
}
 
footer div a{
    color: var(--bgc-01);
    font-size: 1rem;
    font-weight: 600;
    font-family: "kanit", sans-serif;
    text-transform: uppercase;
}

footer div input{
    color: black;
    font-family: "kanit", sans-serif;
}

footer i {
    margin-left: 1ch;
    color: var(--bgc-02);
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
    background-color: var(--txt-01);
}